extends layout

block content
  nav.navbar.navbar-inverse
    .container-fluid
      a.pull-right.btn.btn-success.btn-lg(href="/dashboard/logout") Log out
  .container
    .row
      .col-md-8.col-md-offset-2.text-center
        h1 Welcome, #{user.username}
    .row
      .col-md-8.col-md-offset-2
        form.dropzone.dz-clickable#image-upload-form(action="/api/upload")
