extends layout

block content
  .container
    .row
      .col-md-6.col-md-offset-3
        .jumbotron
          form(action="/sign-in", method="post")
            h1 Sign in
            .form-group
              input.form-control(type="text", name="username", placeholder="username")
            .form-group
              input.form-control(type="password", name="password", placeholder="password")
            button.btn.btn-primary(type="submit") Sign in
