body {
  background: #F5F4F3 none repeat scroll 0% 0%;
}

.dropzone {
  border: 2px dashed rgba(0,0,0,0.3);
  border-radius: 5px;
  background: #FFF none repeat scroll 0% 0%
}

.nav-link {
  color: #FFF;
  font-size: 2em;
  margin-right: .5em;
}
