body {
  background: #F5F4F3 none repeat scroll 0% 0%;
}

.dropzone {
  border: 2px dashed rgba(0,0,0,0.3);
  border-radius: 5px;
  background: #FFF none repeat scroll 0% 0%;
  margin-bottom: 1em;
}

.navbar {
  box-shadow: 0px 0px 10px 1px #000;
}

.nav-link {
  color: #FFF;
  font-size: 2em;
  margin-right: .5em;
}

.panel-rounded {
  padding: 1em;
  border-radius: 5px;
  background: #333 none repeat scroll 0% 0%;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2);
}

.panel-rounded h1 {
  color: #F5F4F3;
}

.shadow-header {
  text-shadow: 1px 1px 2px #222;
}

.thumb-sm, .thumb-sm img {
  width: 180px;
  height: 180px;
}

.thumb-sm {
  line-height: 0px;
  display: inline-block;
  margin: 4px 2px;
  padding: 0px;
  position: relative;
  border: 2px solid #444;
}

.thumb-sm .thumblink {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.thumb-sm img {
  outline-offset: -1px;
  outline: 1px solid #121211;
  border: 0px none;
}

.thumb-lg {
  width: 450px;
  height: 450px;
}
